@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Regular.woff) format("woff");
}

@font-face {
    font-family: "Google Sans";
    src: url(../fonts/GoogleSans-Regular.woff2) format("woff2");
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #edebf2
}

.container {
    width: 640px;
    margin: 0 auto;
}

ul {
    list-style: none;
}

.bg-picture {
    background-image: url(../img/bg.jpg);
    border: 1px solid #dadce0;
    border-radius: 8px;
    margin: 12px 0;
    height: 160px;
    background-size: cover;
    background-position: center;
}

.main-form .content-block {
    background-color: #fff;
    border: 1px solid #dadce0;
    border-radius: 8px;
    margin-bottom: 12px;
    padding: 24px;
    position: relative;
}

.title-block {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #202124;
}

.title-block__hr {
    background: #483b7e;
    height: 10px;
    width: 638px;
    position: absolute;
    top: -1px;
    right: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.title-block__title {
    font-family: "Google Sans", "Roboto", Arial, sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 135%;
}

.title-block__desc {
    letter-spacing: .2px;
    margin-top: 12px;
}

.title-block__text {
    color: #d93025;
    letter-spacing: .2px;
    margin-top: 12px;
}

.content-block:nth-child(3) .content-block__title::after {
    content: " *";
    color: #d93025;
}

.content-block__title {
    font-family: "Google Sans", "Roboto", Arial, sans-serif;
    font-size: 16px;
    letter-spacing: .1px;
    line-height: 24px;
    color: #202124;
    font-weight: 400;
    margin-bottom: 16px;
}

.checkbox-block .content-block__title {
    margin-bottom: 0;
}

.checkbox-block li:nth-child(6) label {
    padding-right: 33px;
}

.content-block__subtitle {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: .3px;
    line-height: 16px;
    line-height: 135%;
    margin: 4px 0 16px;
}

input[type="text"] {
    border: none;
    border-bottom: 1px solid #dadce0;;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .2px;
    line-height: 20px;
    color: #202124;
    width: 50%;
    padding: 15px 0 3px;
    margin-bottom: 8px;
}

input[type="text"]:focus {
    outline: 0;
    border-bottom: 2px solid #483b7e;
}

input[name="userFood"] {
    padding-top: 0;
    width: 100%;
}

.content-block li {
    padding: .5em .5em .5em 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .2px;
    line-height: 20px;
    color: #202124;
    display: flex;
    align-items: center;
}

.main-form__submit {
    color: #fff;
    font-family: "Google Sans", "Roboto", Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .25px;
    line-height: 36px;
    padding: 0 24px;
    background-color: #483b7e;
    border: 0;
    border-radius: 4px;
    margin-bottom: 26px;
    cursor: pointer;
    transition: opacity .3s;
}

.main-form__submit:hover {
    opacity: 0.9;
}

input[type="radio"] {
    padding: 10px;
}

input[type="radio"], input[type="checkbox"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: 2px solid #5f6368;
}

label {
    margin-left: 34px;
}

.input-wrapper {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 9px;
}

.input-wrapper:hover {
    background: #f8f8fa;
}

.input-wrapper:active {
    background: #e4e2ec;
}

.footer {
    text-align: center;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: .3px;
    line-height: 16px;
    color: rgba(0,0,0,0.66);
}

.footer__text {
    text-align: left;
    margin-bottom: 16px;
}

.footer__links a {
    color: rgba(0, 0, 0, 0.66);
}

.googleForms {
    margin: 24px 0;
    opacity: .26;
}

.googleForms__link {
    text-decoration: none;
}

.googleForms__link span {
    cursor: pointer;
    color: black;
    font-size: 22.1px;
    position: relative;
    top: -6px;
}